<div class="">
  <nav class="navbar navbar-expard-lg fixed-top navbar-dark bg-info">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand"><strong>LOTUS</strong></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/home" aria-current="" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/user" aria-current="" class="nav-link active">User</a>
          </li>
          <li class="nav-item">
            <a routerLink="/customer" aria-current="" class="nav-link active">Customer</a>
          </li>
          <li class="nav-item">
            <a routerLink="/product" aria-current="" class="nav-link active">Product</a>
          </li>

        </ul>
      </div>


    </div>
  </nav>
</div>
