<div class="container mt-8">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-5 mt-5 mb-5">
        <h1>Welcome Here</h1><hr>
        <div class="alert alert-success" role="alert">
          Account Has Been Created! <a routerLink="/login">Login here</a>
        </div>
        <form [formGroup]="loginForm" class="text-left">
          <div class="form-group">

            <label for="">Email</label>
            <input type="email" class="form-control" placeholder="Email Id here" formControlName="email">
            <label for="">Password</label>
            <input type="password" class="form-control" placeholder="******" formControlName="password">
          </div>
          <br/>
          <button class="btn btn-outline-primary w-100" (click)="login()">Create Account</button>
        </form>
      </div>
    </div>
  </div>
</div>
