<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Address</h4>
        <p>264 Xo Viet Nghe Tinh, Khue Trung, Cam Le, Da Nang</p>
      </div>
      <div class="col-md-4">
        <h4>Google Map</h4>
        <p>264 Xo Viet Nghe Tinh, Khue Trung, Cam Le, Da Nang</p>
      </div>
      <div class="col-md-4">
        <h4>Social Link</h4>
        <button class="btn btn-outline-warning bg-secondary">FB</button>&nbsp;
        <button class="btn btn-outline-warning bg-secondary">Zalo</button>&nbsp;
        <button class="btn btn-outline-warning bg-secondary">Skype</button>&nbsp;
        <button class="btn btn-outline-warning bg-secondary">Twitter</button>
      </div>

    </div>
  </div>
</div>
